
<script type="module">
    import Paystack from '@paystack/inline-js';
    const popup = new Paystack()
    var url = "<%= html_escape(home_verify_url('code')) %>"
    document.getElementById('paystackBtn').onclick = function(e) {
        e.preventDefault();
        var handler = Paystack.setup({
          key: '<%= ENV.fetch("PAYSTACK_PUBLIC_KEY", nil) %>',
          email: '<%= current_user.email %>',
          amount: 100, 
          callback: function(response){
            window.location.href = url.substring('code', response.reference);
          },
          onClose: function(){
            alert('Payment window closed');
          }
        });
        handler.openIframe();
      }
</script>

<h1 class="text-3xl font-bold underline p-4">Notices</h1>



  <button id="paystackBtn" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4">
    Pay
  </button>


<div id="homes", class="p-4">
  <% pull_user_ids = @pull_requests ? @pull_requests.map {|pull_request| pull_request[:text].map {|tex,index| tex&.split('+')&.select {|text| text.include? 'user'}&.first&.split(':')&.second&.gsub(/[\n]+/,'')&.gsub(' ','')}}.flatten : []%>
  <%= pull_user_ids %>
  <%= current_user.id.to_s %>
  <%= pull_user_ids.include?(current_user.id.to_s) %>
  <% @pull_requests&.each do |pull_request| %>
    <% pull_user_id = pull_request[:text].map { |tex| tex&.split('+')&.select {|text| text.include? 'user'}&.first&.split(':')&.second&.gsub(/[\n]+/,'')&.gsub(' ','') } %>
    <% pull_request[:files]&.each_with_index do |file, index| %>
      <% if file.split('.').last == 'md' && pull_user_id[index] == current_user.id.to_s %>
        <%= pull_user_id %>
        <%= current_user.id %>
        <%= pull_user_id.include?(current_user.id.to_s) %>
        <%= pull_user_id[index] == current_user.id.to_s %>
        <% image_index = index + (pull_request[:files].size/2) %>
        <% image = pull_request[:files][image_index]%>
        <p class="py-4"> <%= link_to "Delete", home_delete_url(pull_request[:id], image: image, file: file) , class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4" %> </p>
         <div id="content" class="bg-white py-6 sm:py-6">
          <div class="mx-auto max-w-7xl px-6 lg:px-4">
            <div
              class="mx-auto mt-3 grid max-w-2xl grid-cols-1 gap-x-4 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-2"
            >
              <div class="relative w-full">
                <% img_root = "https://raw.githubusercontent.com/rip-coke/rip/#{current_user.id}_#{GithubService::BRANCH}/" %>
                <img
                  src='<%= "#{img_root}/#{image}" %>'
                  alt=""
                  class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
                />
                <!-- <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div> -->
              </div>
              <div class="w-full px-4">
                <div class="flex-auto text-center font-semibold text-lg pb-2"><%= name(pull_request, index) %></div>
                <div class="flex items-center gap-x-4 text-s">
                  <div class="flex-auto">
                    <time datetime="2020-03" class="text-gray-500"
                      ><%= dob(pull_request, index) %></time
                    >
                    -
                    <time datetime="2020-03" class="text-gray-500"
                      ><%= dod(pull_request, index) %></time
                    >
                  </div>
                  <div class="flex items-right"><%= county(pull_request, index) %></div>
                </div>
                <div class="group relative">
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    <%= body_text(pull_request, index) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if ['oliviamuia09@gmail.com', 'vyncem@gmail.com'].include?(current_user.email) %>
        <p class="py-4">
          <%= link_to "Merge", home_merge_url(pull_request[:id]), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4" %>
        </p>
      <%else%>
        <% if @reply && @reply.include?('Success') %>
          <%= @reply %>
          <p class="py-4">
            <%= link_to "Check", home_check_url(pull_request[:id], reply: @reply), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4" %>
          </p>
        <%elsif @reply && @reply.include?('successfully')%>
          <%= @reply %>
          <p class="py-4">
            <%= link_to "Finish", home_merge_url(pull_request[:id], reply: @reply), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4" %>
          </p>
        <%else%>
          <%= @reply %>
          <%= form_with url: mpesas_path, class: "flex" do |form| %>
            <p class = "py-4 px-4 flex-1" >
              <%= form.text_field :payee, value: @payee, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500"  %>
            </p>
            <p class = "py-4 flex-1" >
              <%= form.submit "Pay", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4" %>
            </p>
          <% end %>
        <%end%>
      <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%unless @pull_requests.present? && @pull_requests.first[:files].present? && pull_user_ids.include?(current_user.id.to_s) %>
      <%= pull_user_ids %>
      <%= current_user.id.to_s %>
      <p class="p-4">
        <%= link_to "New notice", new_home_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-4"%>
      </p>
    <%end%>
</div>


