<%= render @home %>

<div>
  <%= link_to "Edit this notice", edit_home_path(@home) %> |
  <%= link_to "Back to notices", homes_path %>
  <%= @home.content %>
  <%= button_to "Destroy this notice", @home, method: :delete %>
</div>
